#header{
    color:white;
    font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
    padding-left: 300px;
   padding-bottom: 30px;
}
#nav{
    background-color:rgb(7, 1, 34);
    height:70px;
    
}
#tt{
  background-color: rgb(199, 206, 170);
  /* color:white; */
  
}
#tt tr td,#tt tr th{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
#tt tr:nth-child(even){
  background-color: rgb(178, 207, 164);

  color:black;
}
.allTask{
margin-left: 140px;
border:2px solid whitesmoke;
}
.myTask{

margin-right: 20px;;
}
#common{

    border:4px solid pink;
    background-color: transparent;
    border:none;
    color:white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#all:hover{
  background-color: rgb(197, 179, 97);
}
.dpmenu{
  background-color: white;
  border:2px solid black;
  -webkit-appearance: block;
color:black;
border-radius: 6px;
  -moz-appearance: block;
  width:150px;
}
#notassign{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
select {

    -webkit-appearance: none;

    -moz-appearance: none;

    text-indent: 1px;

    text-overflow: '';

    background-color:rgb(7, 1, 34);

    border:none;
    
    color:white;

  }
  #notifi{
    display: none;
    border-radius: 5px;
  }

  #color{
    background-image: linear-gradient(rgb(197, 168, 168));
  }
  #main{
    background-color:rgb(217, 210, 210) ;
  }
  
  #search{
    border-radius: 6px;
  }
  #searchTask{
    border-radius: 6px;
  }
  
.cen{

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
  #logo{
   float: right;
  }
  #selectOption{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
  }

 #table1{
  width:1200px;
  margin-left: 40px;
  background-color: rgb(227, 227, 219);
  
 }
 
 #table1 tr td{
  width: 1200px;
  
 }

 #total{
  display: flex;
 

 }

 .assignedTask{
  color:rgb(23, 2, 42);
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
  font-weight: bold;
 }

 #task{

  width: 700px;
 height:400px ;

 }
 #taskDetails{
  display: none;
  width:35%;
  float:right;
  border:2px solid black;
  height:280px;
  margin-top: 20px;
  margin-left: 100px;
  padding-left: 80px;
  padding-top: 10px;
  background-image: url("https://media.tenor.com/UlhK-5w9HHAAAAAC/background-abstract.gif");
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 12px;
}

 #head{
  padding-left: 100px;
  color:white;
  font-size: 25px;
 }
 .sub{
  font-weight: 80px;
  font-size: 20px;
  color:white;
 }
